<!-- templates/index.html -->
{% extends 'base.html' %}

{% block title %}Life Is Travel{% endblock %}

{% block content %}
<div class="container-fluid p-0">
    <!-- Header -->
    <div class="header text-center py-3 position-relative" style="background-color: #f0f0f0;">
        <!-- 중앙 정렬된 제목과 설명 -->
        <div class="d-flex flex-column align-items-center justify-content-center">
            <a href="/flights" class="text-decoration-none">
                <h1 class="fw-bold text-primary">Life Is Travel</h1>
            </a>
            <p class="text-center text-muted">합리적으로 여행하자 </p>
        </div>
    </div>

    <!-- Button Container -->
    <div class="d-flex flex-column align-items-center justify-content-center" style="height: 66.66vh; margin-top: -40px;">
        <button class="btn btn-primary btn-lg mb-4" onclick="location.href='/flights/search'">항공권 정보를 보여줘</button>
        <br>
        <br>
        <button class="btn btn-primary btn-lg mb-4" onclick="location.href='/flights/decision'">여행은 가고 싶은데, 어떻게 할 지
            모르겠어. 도와줘!
        </button>
    </div>

    <!-- Footer Button -->
    <button class="btn"
            style="background-color: #FFCC00; position: fixed; bottom: 15%; right: 10%; padding: 10px 20px;"
            onclick="location.href='/flights/cancellation'">오늘 내 항공편 결항될까?
    </button>
</div>
{% endblock %}
